VITE_KEYCLOAK_URL=https://auth.scalenix.fr
VITE_KEYCLOAK_REALM=scalenix-os
VITE_KEYCLOAK_CLIENT=scalenix-shell
VITE_ZIMBRA_URL=https://mail.scalenix.fr
VITE_NEXTCLOUD_URL=https://files.scalenix.fr
VITE_XPRA_TERMINAL_URL=https://terminal.scalenix.fr
VITE_XPRA_LO_URL=https://libreoffice.scalenix.fr
