DOMAIN=scalenix.fr
KC_ADMIN_PASSWORD=changeme
KC_DB_PASSWORD=changeme
ZIMBRA_URL=https://mail.scalenix.fr
NEXTCLOUD_URL=https://files.scalenix.fr
XPRA_TERMINAL_URL=https://terminal.scalenix.fr
XPRA_LO_URL=https://libreoffice.scalenix.fr
KEYCLOAK_URL=https://auth.scalenix.fr
VITE_KEYCLOAK_URL=https://auth.scalenix.fr
VITE_KEYCLOAK_REALM=scalenix-os
VITE_KEYCLOAK_CLIENT=scalenix-shell
