provider = "keycloak-oidc"
oidc_issuer_url = "https://auth.scalenix.fr/realms/scalenix-os"
client_id = "oauth2-proxy"
# client_secret = "SET_VIA_ENV"
# cookie_secret = "SET_VIA_ENV"
email_domains = ["*"]
pass_access_token = true
skip_provider_button = true
upstreams = ["http://xpra-terminal:14500"]
http_address = "0.0.0.0:4180"
